# Core
python-dotenv

streamlit
reportlab

# LangChain + LangGraph
langchain
langchain-google-genai
langchain-community
langgraph
langchain-groq
transformers
spacy

langgraph-checkpoint-sqlite

# Vector DB
chromadb

# Embeddings (Gemini)
google-generativeai

# Web search
tavily-python

bcrypt
PyPDF2

